{% extends "layout.html" %}
{% block body %}
    <!-- <img src="/static/ECenterLogo.png" alt="Logo" class="center"> -->
    
    <div class="login">
        <h1 class="active" style="text-align:center;"><u>ECENTER </u></h1>
        <h2 class="active" style="text-align:center;"><u><i>sign in </i></u></h2>
        <form method=POST action="{{ url_for('login') }}">
            <input type="text" class="text" name="username" placeholder="Name_ID">
            <span>username</span>
            <br>
        <br>
            <input type="password" class="text" name="pass" placeholder="Password">
            <span>password</span>
            {% with messages = get_flashed_messages() %}  
                {% if messages %}  
                    {% for message in messages %}  
                        <p style="color:yellow;">{{ message }}</p> 
                    {% endfor %}  
                {% endif %}  
            {% endwith %}
            <button class="signin">
            Sign In
            </button>
            <br><br><br>
            <hr>
        </form>
    </div>
    
{% endblock %}