{% extends "layout.html" %}
{% block body %} 
<div class="login">
            <form method=POST action="{{ url_for('register') }}">
                <input type="text" class="text" name="username">
                <span>username</span>
                <br>
            <br>
                <input type="password" class="text" name="pass">
                <span>password</span>
                <br>
                <button class="signin">
                Sign In
                </button>
                <hr>
            </form>
    
        </div>   
{% endblock %}